
<h1 >Eats- N- Treats</h1>

<div class=burgerheader>
<iframe src="https://giphy.com/embed/AAfpHO80onDYk" width="380" height="187" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>

</div>

<div class="container">

<div class="notDevoured split">

  <ol>
    {{#each burgers}}
      {{#unless devoured}}
         <li> <div class="burgerList"> {{burger_name}}</div> <button class="devourButton btn btn light" type="submit data-devourState="{{this.devoured}}" data-id="{{this.id}}">Devour It</button></li>
      {{/unless}}
    {{/each}}
  </ol>
</div><!--end of notDevoured class  -->


<div class="burgerInput">
  <h2>Add Your Burger</h2>

  <form >

   <div class="form-group">
    
       <textarea id="burg" name="burg" rows="8" cols="40"></textarea>
   </div>

     <button class="create-form btn btn-light" type="submit">Add Burger</button>
  </form>
</div>




<div class="Devoured split">



<ol text-align="center">
  {{#each burgers}}
    {{#if devoured}}
     <li> {{burger_name}}</li>
    {{/if}}
  {{/each}}
</ol>
</div><!-- end of devoured class -->

</div> <!--end of container  -->





