body{

	background: url("https://www.toptal.com/designers/subtlepatterns/patterns/food.png");
	font-family: 'Cabin Sketch', cursive;
	font-size: 20px;
}

h1{
text-align:  center;
font-size: 60px;
}
.container{
	display: flex;
	flex-direction: row;
}
.split{
	justify-content: space-between;
}
.burgerheader{
	margin-left:480px;
}
.notDevoured  {
	float:left;
  padding: 5px;
  margin: 30px;
  background: #faebd7;
}

.Devoured{
	float: left;
	margin-left: : 600px;
	width: 360px;
	background: #faebd7;

}
.burgerInput {
	display: flex;
	flex-direction: column;
margin-left: 200px;
}
