*{
	/*font-family: 'Cabin Sketch', cursive;*/
	box-sizing: border-box;
	padding: 0;
	margin:0;
}
body{

	background: url("https://www.toptal.com/designers/subtlepatterns/patterns/food.png");
	font-family: 'Cabin Sketch', cursive;
	font-size: 20px;
}

h1{
	font-family: 'Cabin Sketch', cursive;
text-align:  center;
font-size:50px;
}
.container{
	display: flex;
	justify-content: space-around;
	
}

.burgerheader{
	padding:0;
	margin:0 auto;
	width:30%;
}
.notDevoured  {
display: flex;
width: 30%;
/*justify-content: space-between;*/
flex-direction: column;
  padding: 5px;
  
  background: #faebd7;
}

.Devoured{

	justify-content: space-between;
	flex-direction: row;
	
	width: 30%;
	background: #faebd7;

}
.burgerInput {
	display: flex;
	flex-direction: column;
	width: 25%;
	text-align: center;
	padding-top: 30px;

}

textarea{
	width: 100%;
}

.burgerList{
	width: 60%;
	
}
ol{
	display: flex;
	flex-direction: column;
	margin: 5px;
}

li{
	display: flex;
	flex-direction: row;
	margin: 5px;
}